@import '@csstools/normalize.css';
@import 'fonts.css';
@import 'plex-sans.css';
@import 'plex-serif.css';

/*!  duncandavidson.com | github.com/duncan/duncandavidson.com */

:root {
  --columnWidth: 600px;
  --heroImageWidth: calc(var(--columnWidth) * 1.2);
  --lineHeight: 1.5;
  --baseFontSize: 18px;
  --ratio: 1.414;
  --stepDown1: calc(1em / var(--ratio));
  --stepUp1: calc(1em * var(--ratio));
  --stepUp2: calc(var(--stepUp1) * var(--ratio));
  --stepUp3: calc(var(--stepUp2) * var(--ratio));
  --stepUp4: calc(var(--stepUp3) * var(--ratio));
}

body {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p, ol, li {
  max-width: var(--columnWidth);
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: var(--stepUp3);
}

h2 {
  font-size: var(--stepUp2);
}

h3 {
  font-size: var(--stepUp1);
}

p {
  font-size: var(--baseFontSize);
  line-height: 1.5em;
}

li,ol {
  font-size: var(--baseFontSize);
}

a {
  color: #555;
}

a:hover {
  color: #000;
}

hr {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  margin-top: 32px;
}

#nav {
  max-width: var(--columnWidth);
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

#nav a {
  text-decoration: none;
  color: #777;
}

body>footer {
  max-width: var(--columnWidth);
  margin-top: 100px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

.headcircle {
  max-width: var(--columnWidth);
  margin-left: auto;
  margin-right: auto;
}

.headcircle img {
  border-radius: 100%;
}

body.home .lede {
  font-size: var(--stepUp3);
  line-height: 1.1em;
}

body.page .lede {
  font-size: var(--stepUp2);
  line-height: 1.1em;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

body.page .note {
  /* font-size: var(--stepDown1); */
  margin-bottom: 36px;
  font-style: italic;
  color: #777;
  font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
}

body.page div.hero {
  width: 100%;
  max-width: var(--heroImageWidth);
  margin-left: auto;
  margin-right: auto;
}

body.page div.hero>img {
  width: 100%;
}

body.page p {
  font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
}


ol.events {
  margin-top: 32px;
  margin-bottom: 32px;
}

ol.events, ul.talks {
  list-style-type: none;
  padding-left: 0px;
}

li.talk {
  font-weight: bold;
}

li.event {
  margin-bottom: 32px;
}

li.event .meta {
  font-size: var(--stepDown1);
  margin-bottom: 6px;
}