@import "@csstools/normalize.css";
@import "plex-sans.css";
@import "plex-serif.css";
@import "code.css";

/*!  duncandavidson.com | github.com/duncan/duncandavidson.com */

:root {
  --columnWidth: 600px;
  --heroImageWidth: calc(var(--columnWidth) * 1.2);
  --lineHeight: 1.5;
  --baseFontSize: 18px;
  --monoFontSize: 13px;
  --ratio: 1.414;
  --stepDown1: calc(1em / var(--ratio));
  --stepUp1: calc(1em * var(--ratio));
  --stepUp2: calc(var(--stepUp1) * var(--ratio));
  --stepUp3: calc(var(--stepUp2) * var(--ratio));
  --stepUp4: calc(var(--stepUp3) * var(--ratio));
  --sidePagePadding: 16px;
}

@custom-media --narrow-window (max-width: 632px);

body {
  font-family: "IBM Plex Sans";
  -webkit-font-smoothing: antialiased;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
li,
.hero > .credit,
.page header .date,
.social {
  max-width: var(--columnWidth);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--sidePagePadding);
  padding-right: var(--sidePagePadding);
}

.social {
  margin-top: 48px;
}

h1 {
  font-size: var(--stepUp3);
}

article h1 {
  font-size: var(--stepUp2);
}

h2 {
  font-size: var(--stepUp2);
}

article h2 {
  font-size: var(--stepUp1);
}

h3 {
  font-size: var(--stepUp1);
}

article h3 {
  font-size: var(--baseFontSize);
}

p {
  font-size: var(--baseFontSize);
  line-height: 1.5em;
}

blockquote {
  margin: 0;
  padding: 0;
}

blockquote > p {
  font-style: italic;
}

li,
ol {
  font-size: var(--baseFontSize);
}

a {
  color: #333;
  text-decoration-color: #aaa;
}

a:hover {
  color: #000;
}

hr {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  margin-top: 32px;
}

pre code {
  font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
  font-size: var(--monoFontSize);
  display: block;
  max-width: var(--columnWidth);
  padding-right: var(--sidePagePadding);
  padding-left: var(--sidePagePadding);
  margin-left: auto;
  margin-right: auto;
  color: #555;
  margin-top: 2em;
  margin-bottom: 2em;
  white-space: pre-wrap;
  line-height: 1.3em;
}

#nav {
  max-width: var(--columnWidth);
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--sidePagePadding);
  padding-left: var(--sidePagePadding);
  height: 50px;
}

#nav a,
#footer a {
  text-decoration: none;
  color: #777;
}

#footer {
  max-width: var(--columnWidth);
  margin-top: 100px;
  margin-bottom: 24px;
  padding-right: var(--sidePagePadding);
  padding-left: var(--sidePagePadding);
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#tools a {
  color: #777;
}

.face {
  max-width: var(--columnWidth);
  margin-left: auto;
  margin-right: auto;
  min-height: 150px;
}

.face img {
  border-radius: 100%;
  float: left;
  margin-right: 24px;
}

.face .text {
  width: 425px;
  height: 150px;
  display: flex;
  align-items: center;
}

.face .text p {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
}

footer .face {
  margin-top: 100px;
}

.page header .date {
  font-size: var(--stepDown1);
  margin-top: 18px;
}

.page header .date + h1 {
  margin-top: 0;
}

body.home .lede {
  font-size: var(--stepUp3);
  line-height: 42px;
}

body.page .lede {
  font-size: var(--stepUp2);
  line-height: 38px;
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
}

body.page .note {
  /* font-size: var(--stepDown1); */
  margin-bottom: 36px;
  font-style: italic;
  color: #777;
  font-family: "IBM Plex Serif", "Georgia", Times, serif;
}

div.hero {
  width: 100%;
  max-width: var(--heroImageWidth);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
}

div.hero > img {
  width: 100%;
}

div.hero > .credit {
  font-size: var(--stepDown1);
  text-align: left;
  max-width: var(--columnWidth);
  margin-left: auto;
  margin-right: auto;
  color: #777;
  padding-top: 0.5em;
}

body.page p,
body.page li {
  font-family: "IBM Plex Serif", "Georgia", Times, serif;
}

body.page li {
  line-height: 150%;
}

body.page p img {
  max-width: 100%;
}

ol.events {
  margin-top: 32px;
  margin-bottom: 32px;
}

ol.events,
ul.talks,
ol.essays {
  list-style-type: none;
  padding-left: 0px;
}

li.essay > .title {
  font-size: var(--stepUp1);
  font-weight: bold;
  margin-bottom: 3px;
}

li.essay > .lede {
  margin-top: 6px;
}

.talk {
  font-size: var(--stepUp1);
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  font-weight: bold;
}

li.event,
li.essay {
  margin-bottom: 32px;
}

li.event .meta,
li.essay .meta {
  font-size: var(--stepDown1);
  margin-bottom: 3px;
}

.icon-github,
.icon-twitter {
  width: 36px;
  height: 36px;
  margin-right: 24px;
}

.icon-facebook {
  width: 34px;
  height: 34px;
  margin-right: 24px;
  margin-bottom: 1px;
}

@media (--narrow-window) {
  :root {
    --baseFontSize: 15px;
    --ratio: 1.2;
    --stepDown1: calc(1em / var(--ratio));
    --stepUp1: calc(1em * var(--ratio));
    --stepUp2: calc(var(--stepUp1) * var(--ratio));
    --stepUp3: calc(var(--stepUp2) * var(--ratio));
    --stepUp4: calc(var(--stepUp3) * var(--ratio));
  }
  .home h1,
  .home .lede,
  .social {
    text-align: center;
  }
  .face {
    text-align: center;
  }
  .face img {
    float: none;
  }
  .face .text {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
