---
layout: main
body: blog
pagination: 
  data: months
  size: 1
months:
  - 2018/12
  - 2019/01
permalink: blog/{{ pagination.items[0] }}/index.html
---

{% set slug = pagination.items[0] %}
<p>slug: {{ slug }}
next: <a href="{{ pagination.nextPageHref }}">{{ pagination.nextPageHref }}</a>
prev: <a href="{{ pagination.previousPageHref }}">{{ pagination.previousPageHref }}</a></p>

{% set date = slug | parseDateFromYearMonth %}

<h1>{{date | archiveHeaderDate }}</h1>

{% set posts = collections.post %}

{% set lastdate = "" %}
{% set blogindex = true %}

{% for post in posts %}

{% if post.url.startsWith("/posts/" + slug ) %}

{% set currentdate = post.date | displayDate %}
{% if lastdate != currentdate %}
<div class="date">
{{ currentdate }}
</div>
{% set lastdate = currentdate %}
{% endif %}

{% include "post-partial.njk" %}

{% endif %}
{% endfor %}