<div class="face">
<div class="headcircle">
<img src="/img/duncan.jpg" width="150" height="150">
{% if page.inputPath != "./src/index.md" %}
<div class="text">
<p>
<a href="/">Duncan Davidson</a> is a software developer, <a href="/startups/">startup advocate</a>, <a href="/talks">speaker</a>, book author, and photographer living in Berlin.
</p>
{% endif %}
</div>
</div>
</div>