---
layout: main
body: home
---

<header>
<div class="headcircle">
<img src="/img/duncan.jpg" width="150" height="150">
</div>
<h1>{{ title }}</h1>
<p class="lede">{{ lede | safe }}</p>
</header>
<article>
{{ content | safe }}
</article>
<footer>

</footer>