---
layout: main
body: home
---
{% set css %}{% include "home.css" %}{% endset %}
<style type="text/css">{{ css | cssmin | safe }}</style>
<header>
<img src="/img/duncan.jpg" width="150" height="150">
<h1>{{ title }}</h1>
<p>{{ lead }}</p>
</header>
<article>
{{ content | safe }}
</article>
<footer>

</footer>