
body.home>header {
    margin-bottom: 50px;
}

body.home>header>h1 {
    font-size: 56px;
}

body.home>header>img {
    text-align: center;
    border-radius: 100%;
    margin-bottom: 0px;
}

body.home>header>p {
    font-size: 48px;
    font-weight: 300;
    line-height: 1em;
}