---
body: default
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body class="{{ body }}">
    <div id="nav">
      {% if layout != "home" %}
      <div style="float: left;"><a href="/"><strong>@duncan</strong></a></div>
      {% endif %}
      <div style="float: right;">
      <a href="/essays">essays</a> &bull;
      <a href="/talks">talks</a>
      </div>
    </div>
    {{ content | safe }}
    <div id="tools">      
      <a href="/colophon/"><i class="icon-info-circled"></i></a>
      <a href="https://github.com/duncan/duncandavidson.com/tree/master/{{ page.inputPath }}"><i class="icon-terminal"></i></a>
      <!-- <a href="https://updown.io/x825"><i class="icon-server"></i></a>-->
    </div>
  </body>
</html>