---
body: default
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="alternate" type="application/atom+xml" href="https://duncandavidson.com/feed.xml">
    <script type="text/javascript">
     var appInsights=window.appInsights||function(a){
         function b(a){c[a]=function(){var b=arguments;c.queue.push(function(){c[a].apply(c,b)})}}var c={config:a},d=document,e=window;setTimeout(function(){var b=d.createElement("script");b.src=a.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js",d.getElementsByTagName("script")[0].parentNode.appendChild(b)});try{c.cookie=d.cookie}catch(a){}c.queue=[];for(var f=["Event","Exception","Metric","PageView","Trace","Dependency"];f.length;)b("track"+f.pop());if(b("setAuthenticatedUserContext"),b("clearAuthenticatedUserContext"),b("startTrackEvent"),b("stopTrackEvent"),b("startTrackPage"),b("stopTrackPage"),b("flush"),!a.disableExceptionTracking){f="onerror",b("_"+f);var g=e[f];e[f]=function(a,b,d,e,h){var i=g&&g(a,b,d,e,h);return!0!==i&&c["_"+f](a,b,d,e,h),i}}return c
     }({
         instrumentationKey: "1f1130ee-125e-44b8-b2d0-66fc68a8371d"
     });

     window.appInsights=appInsights,appInsights.queue&&0===appInsights.queue.length&&appInsights.trackPageView();
</script>
  </head>
  <body class="{{ body }}">
    <div id="nav">
      {% if layout != "home" %}
      <div style="float: left;"><a href="/"><strong>@duncan</strong></a></div>
      {% endif %}
      <div style="float: right;">
      <a href="/blog">blog</a> &bull;
      <a href="/essays">essays</a> 
      </div>
    </div>
    {{ content | safe }}
    <div id="footer">
      <a href="https://duncandavidson.com/feed.xml"><i class="icon-rss"></i> atom</a>
      &bull;      
      <a href="/colophon/">colophon</a>
      &bull;
      <a href="https://github.com/duncan/duncandavidson.com/commits/master/{{ page.inputPath }}">changes</i></a>
      <!-- <a href="https://updown.io/x825"><i class="icon-server"></i></a>-->
    </div>
  </body>
</html>