---
body: default
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {% set css %}{% include "main.css" %}{% endset %}
    <style type="text/css">{{ css | cssmin | safe }}</style>
  </head>
  <body class="{{ body }}">
    <div id="nav">
      {% if layout != "home" %}
      <div style="float: left;"><a href="/"><strong>@duncan</strong></a></div>
      {% endif %}
      <div style="float: right;">
      <a href="/talks">Talks</a>
      </div>
    </div>

    {{ content | safe }}
    <footer>      
      <a href="https://github.com/duncan/duncandavidson.com/tree/master/{{ page.inputPath }}"><i class="icon-wrench"></i></a>
      <a href="https://updown.io/x825"><i class="icon-hourglass-1"></i></a>
    </footer>
  </body>
</html>