ol {
    margin-top: 48px;
}

ol,ul {
    padding-inline-start: 0px;
    list-style-type: none;
}

li>.title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 12px;
}

li>.title>a {
    border: 0;
}

li.event {
    margin-bottom: 24px;
}

.event>.name {
    font-size: 24px;
    margin-bottom: 2px;
}

.event>.name a {
    border: 0;
    font-weight: 600;
}

.event>.meta {
    font-size: 12px;
}